#preview
{
	width: 242px;
    margin: 0 auto;
    margin-bottom: 10px;
	position: relative; 
}
#preview a
{
	position: absolute;
	bottom: 10px;
	left: 60px;
	right: 60px;
	display: none;
	z-index:1; 
}
#preview img
{
	height: 190px;
}
#preview video
{
	height: 190px;
}

p.contenidoNoticia
{
	font-family: serif;
    font-size: 15px;
    color: #585858;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height:15px;
    white-space: pre-line;
}